<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h2>Misión</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus eius dolor repellendus recusandae earum sapiente modi, debitis blanditiis expedita odit pariatur similique hic fuga quibusdam veniam voluptas animi nostrum cumque.</p>
        </div>
        <div class="col-md-6">
            <h2>Visión</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit voluptatum officiis quos explicabo. Recusandae nisi magni eveniet molestiae laboriosam? Iusto placeat fuga sit amet quidem autem optio, doloremque quia minima.Omnis natus iusto velit provident vel qui eligendi numquam, eum, iste totam fugiat quas quaerat enim. Architecto facilis unde enim, voluptatem, sapiente tempora, labore necessitatibus officia corporis reiciendis accusantium quis?</p>
        </div>
        <div class="col-md-12">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores vel velit quas cum quisquam in minima quam, recusandae fugit possimus laboriosam dicta natus corporis libero quos vitae labore veritatis voluptatibus.
            Pariatur consequatur adipisci facere corporis natus ab culpa officia vero ipsa, neque minima animi cupiditate voluptates quisquam consectetur, iste voluptate, accusamus nemo enim odio cum perspiciatis necessitatibus? Accusamus, eos ipsa.
            Non iste cupiditate fugit fuga nostrum, quisquam error laborum ullam officiis accusantium dolores, unde voluptate nam veritatis molestias deserunt quis neque! Soluta dolore architecto et? Ipsam repudiandae quas minus distinctio.
            Libero cum veniam dolorem nobis fugiat pariatur esse! Aperiam itaque ea ipsam pariatur voluptate omnis facilis, eos autem laudantium eligendi consectetur veniam quam voluptates laboriosam unde, tempora et! Quasi, quia.
            Eius, enim libero voluptates quam nobis similique quibusdam quae repellat molestiae eum, repudiandae vitae iure animi architecto, praesentium esse illum aliquid laudantium eligendi? Quibusdam nemo earum id, odit maxime quasi.</p>
        </div>
    </div>
</div>