<div class="container">
    <div class="row">
        <div class="col-md-12 text-center m-4">
            <h2>Publicaciones</h2>
        </div>
        <div class="col-md-3 mt-2" *ngFor="let publi of publicaciones">
          <div class="card" style="width: 18rem;">
              <div class="card-body {{ (publi.confirmed < 5000)?'bg-success':'bg-danger'  }}">
                <h5 class="card-title">{{ publi.countryregion }}</h5>
                <p class="card-text">Confirmados: {{ publi.confirmed }}</p>
                <p class="card-text">Recuperados: {{ publi.recovered }}</p>
                <p class="card-text">Fallecidos: {{ publi.deaths }}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

        </div>

        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
              <img src="./../../assets/img/banner2.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

        </div>

        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
              <img src="./../../assets/img/banner2.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

        </div>
    </div>
</div>